body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #16A085;
}
.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #34495E;
    border-radius: 40px;
    transition: .4s;
    padding: 6px;
    height: 50px;
}
.search-input {
    width: 0;
    padding: 0;
    float: left;
    border: none;
    outline: none;
    background: none;
    line-height: 50px;
    font-weight: bold;
    color: #ECF0F1;
    font-size: 20px;
    transition: .4s;
}
.search-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .4s;
    float: right;
}
.search-button i {
    font-size: 25px;
    color: #16A085;
}
.container:hover {
    border-radius: 20px;
}
.container:hover .search-input {
    width: 250px;
    padding: 0 10px;
}
.container:hover .search-button {
    border-radius: 30%;
    background-color: #ECF0F1;
}